<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title class="title">{{movie.title}}</mat-card-title>
      <mat-card-subtitle>{{movie.vote_average}}</mat-card-subtitle>
      
    </mat-card-header>
    <img mat-card-image src="{{imageurl}}" width="150" alt="...">
    <mat-card-content>
        <mat-card-subtitle>{{movie.release_date}}</mat-card-subtitle>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Details</button>
    </mat-card-actions>
  </mat-card>

  