<p>movie-list works!</p>
<!--mov: {{movies}}-->

<mat-form-field class="m-2">
    <mat-label>Keresett kulcsszavak</mat-label>
    <input (keyup)="searchTextChanged($event)" matInput placeholder="pl. Harry Potter" value="">
</mat-form-field>
















<p *ngFor="let m of movies" (click)="navMovie(m.id)">{{m.id}} {{m.title}} {{m.vote_average}}</p>

<button mat-raised-button>Basic</button>
<input matInput placeholder="Ex. Pizza" value="Sushi">
<button mat-raised-button color="primary">Primary</button>
<button mat-button color="accent">Accent</button>
<button mat-button color="warn">Warn</button>
 
