<div class="px-4">
    <div class="pt-4 d-flex align-items-center justify-content-between">
        <span>
            <h1>Movies</h1>
        </span>
        <span>
            <span class="h5">Search:</span>
            <span>
                <mat-form-field class="m-2">
                    <mat-label>Keywords</mat-label>
                    <input [(ngModel)]="searchString" (ngModelChange)="searchTextChanged($event)" matInput placeholder="eg. Harry Potter" value="">
                </mat-form-field>
            </span>
        </span>
    </div>
    <app-movie-card *ngFor="let m of movies" (click)="navMovie(m.id)" [movie]="m" >
    </app-movie-card>

</div>