<div class="d-flex m-5">
    <img class="details-poster mr-4" src={{imageurl}} />
    <span class="movie-details">
        <div class="mx-2 mb-4"> 
            <span class="h1">{{movie.title}}</span>
            <span class="h5 mx-3">({{movie.release_date}})</span>
        </div>
        <h2 class="mx-2">Rating: {{movie.vote_average}} ({{movie.vote_count}} votes)</h2>
        <h2 class="mx-2">Popularity: {{movie.popularity}}</h2>
        <h2 class="mx-2">Overview:</h2>
        <div class="mx-2">{{movie.overview}}</div>
    </span>
</div>
<div class="m-5">
    <div class="h3">Cast:</div>
    <div *ngFor="let p of cast" class="mb-2">
        {{p.character}}: <a routerLink="/actor/{{p.id}}">{{p.name}}</a>
    </div>
</div>